__pycache__/
*/EB/*
*/data.cifar10/
*/data.cifar100/
*/_dataset/*
*/random_weights/*
*/.idea/*
*/logs/*
*/results/*
*/data/*
graphs/*
analysis/graphs/*
analysis/graphs_eb/*
analysis/results*/*
*/old_results/*
