__pycache__/
*/EB/*
*/data.cifar10/
*/data.cifar100/
*/_dataset/*
*/random_weights/*
*/.idea/*
*/logs/*
*/results/*
*/data/*
graphs/*
analysis/graphs/*
analysis/graphs_eb/*
analysis/results*/*
*/old_results/*
*/results*/*
prune_bench/LTH_code_Original/data
prune_bench/LTH_code_Original/result*
prune_bench/LTH_code_Original/saved_masks
